body {
  font-family: 'Ubuntu', sans-serif;
}

img {
  max-width: 180px;
  height: auto;
}

.habilidades{
  font-size: 2.2em;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.ponto {
    list-style-type: none;
}

.class2{
  width: 30px; 
  text-align: center;
}

.class1{
  max-width: 400px; margin: auto;
}